.login{
    margin-top: 1em;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.boton1, .boton3{
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 800;
    border: 1px solid rgb(58, 132, 223);
    transition: all 1s ease-in-out;
}

.boton1:hover{
    background-color: rgb(44, 45, 72);
    color: #fff;
    transition: all 1s ease-in-out;
}

.boton3:hover{
    background-color: rgb(40, 42, 151);
    color: #fff;
    transition: all 1s ease-in-out;
}